input {
  padding: 0.4rem;
}

.add {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 183, 0);
  border: none;
  cursor: pointer;
}

.delete-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(233, 20, 4);
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  gap: 1rem;
  align-items: center;
}

.todo-list {
  padding: 1rem 0;
}